<!DOCTYPE html>
<html lang="en">

 <!--<![endif]-->
      <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Best Site For imports and exports</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css"> 
 
        <script src="js/angular.min.js"></script>
        <script src="appJs/eximApp.js"></script>
<style type="text/css">

input::-webkit-input-placeholder {
color: red !important;
}
 
input:-ms-input-placeholder {  
color: red !important;  
}

  .red-text{
    color:red;
  }


  .card-row {
    margin-bottom: 2%; 
    padding-left: 25px;
    padding-top: 10px;
    margin: 8px;
    border-radius: 2px;
    width: calc(100% - 24px);
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    
    }
    
  
    .search{
        padding: 4px 20px;
        border-radius: 0px;
        background-position: left 4px center;
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 1rem;
        color: #141414;
        background-color: #fff;
        
        border-radius: 30px !important;
        border: 1px solid #a5a5a5;      
        
        display: block;
        width: 98%;
        font-family: inherit;
    
    }
    
    .btncls {
        border-width: 1px;
        border-style: solid;
        border-color: #e62c0c;
        color:#f8f9fa;
        box-shadow: none;
        
        border-radius: 64px;
        padding: 0 2.6rem;   
        height: 1.5rem;
        font-size: 0.8rem;
        text-align: center;
        position: relative;
        z-index: 0;
        display: inline-block;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        vertical-align: top;
        transition: background-color, opacity 100ms linear;
        user-select: none;
        contain: content;
    
        border: 0;
        font-family: unset;
        font-style: inherit;
        font-variant: inherit;
        line-height: 1;
        
        box-sizing: border-box;
        
    }

</style>    

      </head>




<body ng-app="eximApp"  style="background: #fdfcfc; padding-right: 0px;"  ng-controller="chapterCtrl">
        <div class="container">
            <div class="row">

                <!-- Site Wraper -->
                <div class="wrapper">
                    <div class="se-pre-con"></div>

                    <!--Header -->
                    <header>
                        <!-- start topbar -->
                       
                        <!-- end topbar -->

                        <!-- start middlebar -->
                        
                        <div class="middlebar navbar cd-navbar navbar-default">
                           <div class="topbar top-bar">
             <div class="col-md-12" >
             info@eximbni.com | +91 800 800 9922
             </div>
                        </div>
                            <div class="container">
                                
                                    <div class="row">
                                      <div class="col-md-2 col-sm-10 col-xs-10 ptb-10">
                                          <a href="index.html"><img width="60%" class="img-responsive" src="img/eximbnilogo.svg" alt="eximbni_logo" /></a>
                                      </div>
                                      <div class="col-sm-2 col-xs-2 hidden-md hidden-lg">
                                      <button class="btn btn-dark hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
  </button>
</div>
  
  <div class="collapse dont-collapse-sm" id="collapseExample">
    <div class="">
      <div class="col-md-7 pt-20">
                                        <form name="searchForm" ng-submit="globalSearch()">
                                          <div class="row">
                                              <div class="col-md-5">
                                                  <input type="text" ng-model="searchText" class="form-control" placeholder="Search" required="required"> 
                                                   <span class="text-danger">{{ buyerrormsg}}  </span>
                                              </div>
                                              <div class="col-md-5">
                                                  <div class="form-group">
                                                  <select class="form-control" id="searchOpt" ng-model="searchOpt" required="required">
                                                  <option value="" > Select </option>
                                                            <option value="category" >Category</option>
                                                            <option value="chapter" >Chapter</option>
                                                            <option value="hsncode" >HS Code</option>
                                              </select>
                                               <span class="text-danger">{{ sellerrormsg}}  </span>
                                              </div>
                                              </div>
                                              <div class="col-md-2">
                                                  <input type="submit"  class="btn btn-danger btn-md  top-cat-search btn-block" value="Search">
                                                        <span><a href="guest.html">Find HSN Code</a></span>
                                              </div>
                                          </div>
                                        </form>
                                      </div>
                                      <!-- Search bar end -->
                                      <div class="col-md-2 text-center pt-20">  
                                          <div class="btn-group">
                                              <div class="btn btn-danger">
                                                <a data-toggle="modal" data-target="#signupModal" data-backdrop="static" data-keyboard="false">SignUp</a>
                                              </div>
                                          <div class="btn btn-success">
                                            <a data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false">Login</a>
                                          </div>
                                          </div>
                                      </div>
                                      <div class="col-md-1  pt-20">
                                          <div id="google_translate_element" class="pull-right"></div>
                                      </div>
                                        
                                        <!--div class="col-sm-2 vertical-align header-items">                      
                                            <a data-toggle="modal" data-target="#signupModal" data-backdrop="static" data-keyboard="false"><button ng-if="email == null" class="btn btn-outline btn-round btn-info topbarnav s" style="margin-right: 15%;"> Sign Up </button></a>                     
                                            <a data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false"><button ng-if=" email == null" class="btn btn-outline btn-round btn-success topbarnav pull-right l" style="margin-right: 2%;"> Login </button></a>
                                            <a data-toggle="modal" data-target="#signupModal" data-backdrop="static" data-keyboard="false"><button ng-if="email == 0" class="btn btn-outline btn-round btn-info topbarnav s" style="margin-right: 15%;"> Sign Up </button></a>                     
                                            <a data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false"><button ng-if=" email == 0" class="btn btn-outline btn-round btn-success topbarnav pull-right l" style="margin-right: 2%;"> Login </button></a>
                                    <ul class="topbarnav pull-right dropdown-toggle" ng-if="email =='1' ">

                                        <li class="linkdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-user mr5"></i>
                                                <span class="hidden-xs">
                                                   {{ uname }} 
                                                    <i class="fa fa-angle-down ml5"></i>
                                                </span>
                                            </a>
                                            
                                            <ul class="cd-link dropdown-menu" >
                                                <li ng-if="userid != null"><a href="#" ng-click="godash()" >Dashboard {{isfranchise}}</a></li>
                                                <li ng-if="is_franchise == 1"><a href="/eximbniweb/franchise/" >Franchise</a></li>
                                                <li ng-if="userid != null"><a href="#" ng-click="signout()" >Signout</a></li>
                                               
                                            </ul>
                                        </li>
                                        <li class="linkdown">
                                            <a href="#" class="cart-item-number">
                                            </a>
                                            <ul class="cart cd-link-2">

                                            </ul>
                                        </li>
                                    </ul>
                                        </div-->
                                        
                                    </div>
    </div>
  </div>
                                      <!-- Searvch bar start-->
                                      
                                </div>
                            </div>
                        </div>
                        <!-- end middlebar -->
            
                    </header>
                    
                    <!--End Header -->
 
                     <div class="container main-home-page-style">
                        <div class="row">
                            <!-- <img class="img" src="img/banner/chpatterbanner.jpg" alt="..." width="100%" style="height:100px !important"> -->
                            <div class="col-md-12 text-center bread-crumb">
                                Chapters
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-1 col-sm-12 col-xs-12 home-side-bar sied-bar-left scroll-area">
                                
                                <!-- CATEGORIES WIDGET -->
                                <section class="widget mb30">
                                 <!--  Yemekar-->
                                </section>
                               
                            </div>
                            
                            <div class="home-main col-md-1 col-sm-12 col-xs-12 main-contant-right">
                               <!-- ganesh-->
                            </div>

                            <div class="col-md-10 col-sm-12 col-xs-12 home-side-bar sied-bar-left scroll-area">
                                
                                <!-- CATEGORIES WIDGET -->
                                <section class="content widget mb50">

                                  <div class="container-fluid"  > 

                                      <div class="row"  >
                                          <div class="card card-success card-outline">
                                                <div class="card-header">
                                                    <div ng-show="showLoader" align="center">
                                    	              <img src="/img/loader1.gif" width="100px" height="100px" > 
                                    	            </div>                                                    
                                                </div>
                                              <div class="card-body" >


                                                  <div class="panel-group" ng-repeat="chName in getChList track by $index" ng-if="chName.chapter_name">
                                                        
                                                        <div class="panel panel-default">
                                                          <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                              <a data-toggle="collapse" href="#collapse{{ $index }}" ng-click="gethsncode(chName.id)">{{ chName.chapter_name }} &nbsp;&nbsp;&nbsp;&nbsp; {{ chName.ch_description }} 
                                                                  <span style="float:right;margin-top: -0.2%;">
                                                                      <button class="btn btn-outline btn-info"> {{ chName.sellleads }}</button>
                                                                      <button class="btn btn-outline btn-danger"> {{ chName.buyleads }}</button>
                                                                  </span>
                                                              </a>
                                                            </h4>
                                                          </div>
                                                          <div id="collapse{{ $index }}" class="panel-collapse collapse">
                                                            <div class="panel-body" >
                                                                <div ng-show="showLoader" align="center">
                                                	              <img src="/img/loader1.gif" width="100px" height="100px" > 
                                                	            </div>   
                                                                <div class="row card-row" ng-repeat="hsnList in getHsnList track by $index" style="background-color: #fdfdfd;">
                                                                    <div class="row form-group col-md-12">
                                                                        <div class="col-md-6" style="background-color: blue;color: white; font-size:16px;">
                                                                            <h5 > Sell Leads : {{ hsnList.sellleads }}</h5>
                                                                        </div>
                                                                        <div class="col-md-6" style="background-color: red;color: white; font-size:16px;">
                                                                            <h5 > Buy Leads : {{ hsnList.buyleads }} </h5>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="row form-group col-md-12">
                                                                        <div class="col-md-6" style="font-size:16px;">
                                                                            <h4> HS Code : {{ hsnList.hscode }}</h4>
                                                                        </div>
                                                                        <div class="col-md-6" >
                                                                            <div class="col-md-4">
                                                                                <button class="btn" ng-click="showh4($index)" data-toggle="modal" data-target="#myModal" style="background-color: #ffa500; font-size:16px; color:#fff;" >HS4</button>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <button class="btn" ng-click="showh5($index)" data-toggle="modal" data-target="#myModal" style="background-color: #ffa500; font-size:16px; color:#fff;" >HS5</button>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <button class="btn" ng-click="showh6($index)" data-toggle="modal" data-target="#myModal"  style="background-color: #ffa500; font-size:16px; color:#fff;" >HS6</button>
                                                                            </div> 
                                                                        </div> 
                                                                        
                                                                    </div>
                                                                    
                                                                    <div class="row form-group col-md-12">
                                                                        <span style="font-size:16px;" >  {{ hsnList.english }} </span>
                                                                    </div>
                                                                   
                                                                    <div class="row form-group col-md-12" style="line-height: 1.5rem; font-size:16px;">
                                                                        <strong > Import Policy : <span style="color:#ffa500;"> {{ hsnList.imp_policy }}  </span> <span style="color:#ffa500;" ng-if="!hsnList.imp_policy"> NA  </span> </strong> <span> (this is asper available Data to know more Please consult respective department) </span>
                                                                    </div>
                                                                    <div class="row form-group col-md-12" style="line-height: 1.5rem; font-size:16px;">    
                                                                        <strong > Export Policy : <span style="color:#ffa500;" ng-if="hsnList.exp_policy"> {{ hsnList.exp_policy }}  </span> <span style="color:#ffa500;" ng-if="!hsnList.exp_policy"> NA  </span>  </strong> <span> (this is asper available Data to know more Please consult respective department) </span>
                                                                    </div>
                                                                    
                                                                    <div class="row form-group col-md-12" style="line-height: 1.5rem; font-size:16px;">
                                                                         <strong > Duties :  </strong> <span> Please contact respective department of your country </span>
                                                                    </div>                                                                    
                                                    
                                                                    <div class="row form-group col-md-12" align="center">
                                                                        <button class="btncls btn-success" ng-click="showleads(hsnList.hscode)" style="font-size:16px;" >Please Click Here to see Leads of this HS Code</button>
                                                                    </div>  
                                                    
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer"></div>
                                                          </div>
                                                          
                                                        </div>
    
                                                  </div>

                                                <div align="center" ng-if="!getChList"> <p style="font-size:16px"> <a href="index.html" > Please Click Here to go Main Page </a></p>
                                   </div>    
                                              </div>
                                              <div class="card-footer"> </div>
                                          </div>        
                                      </div>
                                  </div>


                                </section>
                               
                            </div>

                        </div>
                      
                    </div>
 
                </div>
                <!-- End  Wraper -->
            </div>
        </div>  
        
        <!-- HS Code Modal -->
                  <div class="modal" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false"> 
                    <div class="modal-dialog modal-sm">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-body">
                            <h3 align="center"> <span id="hscode_title"></span> </h3>
                            <span id="hscode_desc"></span>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                   <!-- START FOOTER -->
                    <footer class="footer" style="margin-top: 10px;">

                        <div class="container"> 
                            <div class="row" style="background-color: #197139; color: #d6cbcb;">
                                <!-- CATEGORIES WIDGET -->
                                <br>
                                <!--div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="widget">
                                        <h6 class="text-uppercase bottom-line">Choose a country</h6>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <ul class="icons-list">
                                                <li><a href="#">America</a></li>
                                                <li><a href="#">Brazil</a></li>
                                                <li><a href="#">Chile</a></li>
                                                <li><a href="#">Denmark</a></li>
                                                <li><a href="#">Europe</a></li>
                                                <li><a href="#">France</a></li>
                                                <li><a href="#">Germany</a></li>
                                                <li><a href="#">India</a></li>
                                                <li><a href="#">Italy</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <ul class="icons-list">
                                                <li><a href="#">Japan</a></li>
                                                <li><a href="#">Kenya</a></li>
                                                <li><a href="#">Mexico</a></li>                                   
                                                <li><a href="#">New Zealand</a></li>
                                                <li><a href="#">Portugal</a></li>
                                                <li><a href="#">Russia</a></li>
                                                <li><a href="#">Singapore</a></li>
                                                <li><a href="#">United Kingdom</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div-->
                                <!-- END CATEGORIES WIDGET -->


                                <!-- CATEGORIES WIDGET -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="widget">
                                        <h6 class="text-uppercase bottom-line">Information</h6>
                                        <ul class="icons-list">
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                            <li><a href="#">Register your business</a></li>
                                            <li><a href="#">Policy Privacy</a></li>                                        
                                        </ul>
                                    </div>
                                </div>
                                <!-- END CATEGORIES WIDGET -->

                                <!-- CATEGORIES WIDGET -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="widget">
                                        <h6 class="text-uppercase bottom-line">Follow Us On</h6>
                                        <ul class="icons-list">
                                           <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">Linkedin</a></li>
                                            <li><a href="#">You Tube</a></li> 
                                        </ul>
                                    </div>
                                </div>
                                <!-- END CATEGORIES WIDGET -->

                                <!-- CATEGORIES WIDGET -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="widget">
                                        <h6 class="text-uppercase bottom-line">Contact</h6>
<!--                                         <p>Lorem ipsum dolor sit amet, Nunc aliquam justo et nibh venenatis aliquet.</p>
                                        <div class="newsletter">
                                            <form method="post" action="#">
                                                <input placeholder="Email address..." name="email" class="follow-by-email-address" type="text">

                                                <a class="btn btn-product cd-cart-btn" href="#">Submit</a>
                                            </form>
                                        </div> -->
                                    </div>
                                </div>
                                <!-- CATEGORIES WIDGET -->
                                
                                <!-- Blog Posted WIDGET -->
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="widget">
                                        <h6 class="text-uppercase bottom-line">Blogs</h6>
                                        
                                    </div>
                                </div>
                                <!-- Blog Posted WIDGET -->
                            </div>

                            <!-- CONTACT WIDGET -->
                            <div class="copyright">
                                <div class="col-sm-4 pull-left">
                                    <p style="color:#197139;">Copyright &copy; 2019-2020 <a href="https://eximbni.com/eximbniweb">Eximbni.com</a>All rights reserved.</p>
                                </div>
                                
                                <div class="col-sm-4 pull-left">
                                   <div style="min-height: 5%; bottom: 0px;width: 100%; background: white; text-align: center; color: orange;">
                                    <div> <img src="img/hands3.jpeg" width="8%"/> <span style="margin-right:25px; margin-left:25px; font-size : 25px;">POWERED BY</span> <img src="img/miioslogo.jpg" width="30%"/></div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="payment pull-right">
                                        <img src="img/payment-1.png" alt="Payment-1">
                                        <img src="img/payment-2.png" alt="Payment-2">
                                        <img src="img/payment-3.png" alt="Payment-3">
                                        <img src="img/payment-4.png" alt="Payment-4">
                                        <img src="img/payment-5.png" alt="Payment-5">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </footer>
                    <!-- END FOOTER--> 
                <!-- HS Code Modal -->  
        <!-- JQUERY LIBS -->
        <script type="text/javascript"  src="js/jquery.min.js"></script>
        <!-- BOOTSTRAP -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- CUSTOM-->
        <script type="text/javascript" src="js/custom.js"></script>
 <script>
$(document).ready(function(){
    function alignModal(){
        var modalDialog = $(this).find(".modal-dialog");
        /* Applying the top margin on modal dialog to align it vertically center */
        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
    }
    // Align modal when it is displayed
    $(".modal").on("shown.bs.modal", alignModal);
    
    // Align modal when user resize the window
    $(window).on("resize", function(){
        $(".modal:visible").each(alignModal);
    });   
});
</script>
</body>
</html>