<!DOCTYPE html>
<html lang="en">

 <!--<![endif]-->
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <title>Best Site For imports and exports</title>
        <!-- META -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">   
        <link rel="stylesheet" href="dist/css/select2.css"> 
        <script src="js/angular.min.js"></script>
        <script src="appJs/eximApp.js"></script> 
    <style>

.downarrow {

-webkit-border-radius: 50px;
cursor: pointer;
color: #FFFFFF;
padding: 2px 3px;
-webkit-animation: glowing 1500ms infinite;
-moz-animation: glowing 1500ms infinite;
-o-animation: glowing 1500ms infinite;
animation: glowing 1500ms infinite;
}

.l{
-webkit-border-radius: 50px;
cursor: pointer;
color: #FFFFFF;
animation: l 1500ms infinite;
}

.s{
-webkit-border-radius: 50px;
cursor: pointer;
color: #FFFFFF;
animation: s 1500ms infinite;
}

@keyframes l {
0% { background-color: #197139; box-shadow: 0 0 20px #f15822; }
50% { background-color: #197139; box-shadow: 0 0 40px #f3e714; }
100% { background-color: #197139; box-shadow: 0 0 60px #f3e714; }
}

@keyframes s {
0% { background-color: #15b6e6; box-shadow: 0 0 20px #f15822; }
50% { background-color: #15b6e6; box-shadow: 0 0 40px #f3e714; }
100% { background-color: #15b6e6; box-shadow: 0 0 60px #f15822; }
}

    </style>
    <!--Style End For Advertisement-->
<style>

input::-webkit-input-placeholder {
color: red !important;
}
/* 
input:-moz-placeholder {
color: red !important;  
}
 
input::-moz-placeholder { 
color: red !important;  
}*/
 
input:-ms-input-placeholder {  
color: red !important;  
}


</style>


    <style type="text/css">

    .red-text{
      color:red;
    }

    tbody {
        display:block;
        height:350px;
        overflow:auto;
    }
    tbody::-webkit-scrollbar {
        display: none;
    }
    </style>

<style type="text/css">
	.card-row {
    margin-bottom: 2%; 
    padding-left: 25px;
    padding-top: 10px;
    margin: 8px;
    border-radius: 2px;
    width: calc(100% - 24px);
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    
    }
    
	
    .search{
        padding: 4px 20px;
        border-radius: 0px;
        background-position: left 4px center;
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 1rem;
        color: #141414;
        background-color: #fff;
        
        border-radius: 30px !important;
        /*box-shadow: none !important;*/
        border: 1px solid #a5a5a5;      
        
        display: block;
        width: 98%;
        /* border: 0;*/
        font-family: inherit;
    
    }
    
    .btncls {
        border-width: 1px;
        border-style: solid;
        border-color: #e62c0c;
        color:#f8f9fa;
    /*  color: #488aff;
        background-color: white;*/
        box-shadow: none;
        
        border-radius: 64px;
        padding: 0 2.6rem;   
        height: 1.4em;
        font-size: 1.0rem;
            width: 1040px;
        text-align: center;
        position: relative;
        z-index: 0;
        display: inline-block;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;
        vertical-align: top;
        transition: background-color, opacity 100ms linear;
        user-select: none;
        contain: content;
    
        border: 0;
        font-family: inherit;
        font-style: inherit;
        font-variant: inherit;
        line-height: 1;
        
        box-sizing: border-box;
        
    }


</style>
    </head>
    <body ng-app="eximApp" style="background: #fdfcfc; padding-right: 0px;" ng-controller="chapterCtrl" onload="getLocation()">
        <div class="container">
            <div class="row">

                <!-- Site Wraper -->
                <div class="wrapper">
                    <div class="se-pre-con"></div>
                        <header>
                        <!-- start topbar -->
                       
                        <!-- end topbar -->

                        <!-- start middlebar -->
                        
                        <div class="middlebar navbar cd-navbar navbar-default">
                           <div class="topbar top-bar">
             <div class="col-md-12" >
             info@eximbni.com | +91 800 800 9922
             </div>
                        </div>
                            <div class="container">
                                
                                    <div class="row">
                                      <div class="col-md-2 col-sm-10 col-xs-10 ptb-10">
                                         <a href="index.html"> <img width="60%" class="img-responsive" src="img/eximbnilogo.svg" alt="eximbni_logo" /></a>
                                      </div>
                                      <div class="col-sm-2 col-xs-2 hidden-md hidden-lg">
                                      <button class="btn btn-dark hidden visible-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
  </button>
</div>
  
  <div class="collapse dont-collapse-sm" id="collapseExample">
    <div class="">
      <div class="col-md-7 pt-20">
                                        <form name="searchForm" ng-submit="globalSearch()">
                                          <div class="row">
                                              <div class="col-md-5">
                                                  <input type="text" ng-model="searchText" class="form-control" placeholder="Search" required="required"> 
                                                   <span class="text-danger">{{ buyerrormsg}}  </span>
                                              </div>
                                              <div class="col-md-5">
                                                  <div class="form-group">
                                                  <select class="form-control" id="searchOpt" ng-model="searchOpt" required="required">
                                                  <option value="" > Select </option>
                                                            <option value="category" >Category</option>
                                                            <option value="chapter" >Chapter</option>
                                                            <option value="hsncode" >HS Code</option>
                                              </select>
                                               <span class="text-danger">{{ sellerrormsg}}  </span>
                                              </div>
                                              </div>
                                              <div class="col-md-2">
                                                  <input type="submit"  class="btn btn-danger btn-md  top-cat-search btn-block" value="Search">
                                                        <span><a href="guest.html">Find HSN Code</a></span>
                                              </div>
                                          </div>
                                        </form>
                                      </div>
                                      <!-- Search bar end -->
                                      <div class="col-md-2 text-center pt-20">  
                                          <div class="btn-group">
                                              <div class="btn btn-danger">
                                                <a data-toggle="modal" data-target="#signupModal" data-backdrop="static" data-keyboard="false">SignUp</a>
                                              </div>
                                          <div class="btn btn-success">
                                            <a data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false">Login</a>
                                          </div>
                                          </div>
                                      </div>
                                      <div class="col-md-1  pt-20">
                                          <div id="google_translate_element" class="pull-right"></div>
                                      </div>
                                        
                                        <!--div class="col-sm-2 vertical-align header-items">                      
                                            <a data-toggle="modal" data-target="#signupModal" data-backdrop="static" data-keyboard="false"><button ng-if="email == null" class="btn btn-outline btn-round btn-info topbarnav s" style="margin-right: 15%;"> Sign Up </button></a>                     
                                            <a data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false"><button ng-if=" email == null" class="btn btn-outline btn-round btn-success topbarnav pull-right l" style="margin-right: 2%;"> Login </button></a>
                                            <a data-toggle="modal" data-target="#signupModal" data-backdrop="static" data-keyboard="false"><button ng-if="email == 0" class="btn btn-outline btn-round btn-info topbarnav s" style="margin-right: 15%;"> Sign Up </button></a>                     
                                            <a data-toggle="modal" data-target="#loginModal" data-backdrop="static" data-keyboard="false"><button ng-if=" email == 0" class="btn btn-outline btn-round btn-success topbarnav pull-right l" style="margin-right: 2%;"> Login </button></a>
                                    <ul class="topbarnav pull-right dropdown-toggle" ng-if="email =='1' ">

                                        <li class="linkdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-user mr5"></i>
                                                <span class="hidden-xs">
                                                   {{ uname }} 
                                                    <i class="fa fa-angle-down ml5"></i>
                                                </span>
                                            </a>
                                            
                                            <ul class="cd-link dropdown-menu" >
                                                <li ng-if="userid != null"><a href="#" ng-click="godash()" >Dashboard {{isfranchise}}</a></li>
                                                <li ng-if="is_franchise == 1"><a href="/eximbniweb/franchise/" >Franchise</a></li>
                                                <li ng-if="userid != null"><a href="#" ng-click="signout()" >Signout</a></li>
                                               
                                            </ul>
                                        </li>
                                        <li class="linkdown">
                                            <a href="#" class="cart-item-number">
                                            </a>
                                            <ul class="cart cd-link-2">

                                            </ul>
                                        </li>
                                    </ul>
                                        </div-->
                                        
                                    </div>
    </div>
  </div>
                                      <!-- Searvch bar start-->
                                      
                                </div>
                            </div>
                        </div>
                        <!-- end middlebar -->
            <div class="col-md-12 text-center bread-crumb">
                                HS Code Search
                            </div>
                    </header>
                    
                    <!--End Header -->

                    <!--Header -->
                    <header>
                        <!-- start middlebar -->
                        <div class="middlebar cd-navbar navbar-default">
                            <div class="container">
                                <div class="row col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                    
                                        
                                        <div class="clearfix"> </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">  </div>                                                
                                            
                                </div>

                            </div>
                        </div>
                        <!-- end middlebar -->
            
                    </header>
                    <!--End Header -->
 
                     <div class="container main-home-page-style">
                     	<div class="row col-lg-12 col-md-12 col-sm-12 col-xm-12" style="margin-top:20px; " align="center">
                                                <div class="col-lg-1"> </div>
                                                <div class="col-lg-10"> 
                                                    <div class="form-group col-12">
                                                    <form name="searchForm" >
                                                        <div class="col-lg-10">
                                                            <input class="form-control input-lg" type="text" ng-model="searchText"  id="searchText" autocomplete="off" placeholder="Product Name"> 
                                                            <span class="text-danger">{{ errormsg}}  </span>  <span ng-if="productlist && productlist != 0 " style="font-size:16px;"> Total search results <strong class="text-success"> {{ productlist.length }} </strong>  </span>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <input type="button" ng-click="guestSearch()" class="btn btn-outline btn-block btn-round btn-info topbarnav" value="Search" style="height: 45px;">
                                                        </div>
                                                    </form> 
                                                    </div>
                                                </div>
                                               
                                        </div>
                    
                        <div class="row">
                            <div class="col-md-1 col-sm-12 col-xs-12 home-side-bar sied-bar-left scroll-area">
                                
                                <!-- CATEGORIES WIDGET -->
                                <section class="widget mb30">
                                 <!--  Yemekar-->
                                </section>
                               
                            </div>
                            
                            <div class="home-main col-md-1 col-sm-12 col-xs-12 main-contant-right">
                               <!-- ganesh-->
                            </div>

                            <div class="col-md-10 col-sm-12 col-xs-12 home-side-bar sied-bar-left scroll-area">
                                
                                <!-- CATEGORIES WIDGET -->
                                <section class="content widget mb50">

    <div class="container-fluid"  > 

        <div class="row"  >
            <div class="card card-success card-outline">
                <div class="card-header"> 
                    <div ng-show="showLoader" align="center">
    	              <img src="/img/loader1.gif" width="100px" height="100px" > 
    	            </div>                  
                </div>
                <div class="card-body" >
                        <!-- <input class="search" placeholder="Search" ng-model="sellsearch" ng-if="productlist != 0"> -->
                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" ng-repeat="hscode in productlist | filter:sellsearch | orderBy : productlist.chapter_id" ng-if="productlist != 0"> 
                          	<div class="form-group col-lg-12 col-xs-12 col-sm-12 col-md-12 card-row">
                          		<div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12"  style="font-size:16px;" >
                          		   <span style="background: #fff; color: rgb(255, 94, 0);"> <strong >HSCODE : </strong> {{hscode.hscode}} </span>
                          		   <span style="background: green; margin-left:300px;" > <strong style="font-size:16px; color:#fff;">&nbsp; CHAPTER : {{hscode.chapter_id}} &nbsp;</strong> </span>
                          		   
                          		</div>
                          		<div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12" style="font-size:16px;">
                          		    <strong >Description : </strong> {{hscode.english}}
                          		</div>  
                          		<div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12" style="font-size:16px;" >
                          		    <strong >HS4 : </strong> {{hscode.hs4}}
                          		</div>                          		
                          		
                          		<div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12" style="font-size:16px;">
                          		    <strong >HS5 : </strong> {{hscode.hs5}}
                          		</div>
                          		<div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12" style="font-size:16px;">
                          		    <strong >HS6 : </strong> {{hscode.hs6}}
                          		</div>                          		
                          		
                          		<div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12" style="font-size:16px;">
                          		    <b >Import Policy : &nbsp;</b><span ng-if="hscode.imp_policy" style="color:#ffa500;" >{{ hscode.imp_policy }}</span><span ng-if="!hscode.imp_policy" style="color:#ffa500;" >NA</span>
                          		</div>
                          		
                               <div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12" style="font-size:16px;"> 
                          		    <b >Export Policy : &nbsp; </b><span ng-if="hscode.exp_policy" style="color:#ffa500;" >{{ hscode.exp_policy }}</span><span ng-if="!hscode.exp_policy" style="color:#ffa500;">NA</span>                      		
                          		</div>

                          		<div  class="row form-group col-lg-12 col-xs-12 col-sm-12 col-md-12" style="font-size:16px;"> 
                          		    <div class="col-lg-2 col-xs-12 col-sm-12 col-md-4" >
                          		        <button type="button" class="btncls" ng-click="checklogin()" style="background:rgb(255, 94, 0);" ng-if="userid==''"> Login  to View Leads </button> 
                          		        <button type="button" class="btncls" ng-click="showleads(hscode.hscode)"  style="background:#488aff;" ng-if="userid !=''"> View Leads </button> 
                          		    </div>                     		
                          		</div>                          		

                          	</div>
                        </div>                   



                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" ng-if="productlist == 0" style="color:red;"  align="center" ><strong style="font-size:16px;"> No Records Found......  </strong> </div> 
                        <div class="row col-lg-12 col-xs-12 col-sm-12 col-md-12" ng-if="!productlist" style="font-size:16px; color:red;"  align="center"> Please enter your product name and click on search. You will get your search results </div>

                </div>
                <div class="card-footer"> </div>
            </div>        
        </div>
    </div>


                                </section>
                               
                            </div>

                        </div>
                      
                    </div>
 
                    
                <!-- START FOOTER -->

                    <!-- END FOOTER-->     
                </div>
                <!-- End  Wraper -->
            </div>
        </div>       
        <!-- JQUERY LIBS -->
        <script type="text/javascript"  src="js/jquery.min.js"></script>
        <!-- BOOTSTRAP -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- OWL CAROUSEL -->
        <script type="text/javascript" src="plugins/owl-carousel/owl.carousel.min.js"></script>

        <script type="text/javascript" src="plugins/FlexSlider1/jquery.flexslider-min.js"></script>
        <!-- filter PORTFOLIO -->
        <script type="text/javascript" src="js/filter.js"></script>
        <!-- MAGNIFIC POPUP-->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- MAGNIFIC POPUP  -->
        <script type="text/javascript" src="js/magnific-popup.min.js"></script>
        <!-- easypiechart.min-->
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <!-- slick-->
        <script type="text/javascript" src="js/slick.js"></script>
        <!-- slick-slider-->
        <script type="text/javascript" src="js/slick-slider.js"></script>
        <!-- CUSTOM-->
        <script type="text/javascript" src="js/custom.js"></script>
        <!-- Select2 -->
        <script src="plugins/select2/js/select2.full.min.js"></script>
        <!--[if lt IE 9]>
        <script src="respond.js"></script>
        <script src="html5shiv.js"></script>
        <![endif]-->

 


<!-- End Sign Up Modal -->

<script type="text/javascript">
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
   window.alert("Geolocation is not supported by this browser.");
  }
}

function showPosition(position) {
 window.alert("Your Latitude: " + position.coords.latitude + 
  "your Longitude: " + position.coords.longitude);
}


</script>
<script>
$(document).ready(function(){
    function alignModal(){
        var modalDialog = $(this).find(".modal-dialog");
        /* Applying the top margin on modal dialog to align it vertically center */
        modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
    }
    // Align modal when it is displayed
    $(".modal").on("shown.bs.modal", alignModal);
    
    // Align modal when user resize the window
    $(window).on("resize", function(){
        $(".modal:visible").each(alignModal);
    });   
});
</script>
</body>
</html>